<div id="follow_topic_form">
	<% if logged_in? %>
	  <% if current_user.following_a_topic?(topic) %>
	    <%= render "topics/unfollow_topic", topic: topic %>
	  <% else %>
	    <%= render "topics/follow_topic", topic: topic %>
	  <% end %>
	<% end %>
</div>