<div class="row" id="admin">
  <div class="col-md-7">
    <h4 class="home-header">
      <i class="fa fa-th-large" aria-hidden="true"></i>话题广场
    </h4>
      <ul>
        <% @topics.each do |topic| %>
    			<li class="topic-tag topics-tag">
            <%= link_to topic.name, topic_path(topic) %>
          </li>
    		<% end %>
      </ul>
		<div class="topic-order">
			
		</div>
  </div>

  <div class="col-md-3">
  </div>
</div>


