<div id="working_form">
  <div class="row">
    <%= form_for @user, remote: true, url: {action: "update"}, html: {class: "nifty_form"} do |f| %>
      <div class="col-lg-3">
        <div class="input-group input-group-sm">
          <%= f.text_field :company, class: "form-control" ,placeholder: "公司或组织名字" %>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="input-group input-group-sm">
          <%= f.text_field :position, class: "form-control" ,placeholder: "你的职位" %>
        </div>
      </div>
    
      <div class="col-lg-1">
        <%= f.submit "确定" %>
      </div>
    <% end %>
  </div>
</div>