@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "simditor";
@import "jquery-ui";


body {
  padding-top: 70px;
}
nav {
  font-size: large;
  background-color: darkseagreen;
}
.navbar-brand {
  font-size: xx-large;
}
#ask {
  width: 80px;
  font-size: large;
}
#search_input {
  width: 320px;
}

form {
  max-width: 500px;
}

#back1 {
  position: relative;
}
