@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "simditor";
@import "jquery-ui";
@import "questions";
@import "answers";
@import "users";
@import "sessions";
@import "password_resets";
@import "topics";
@import "activities";



body {
  padding-top: 70px;
}
nav {
  font-size: large;
  background-color: darkseagreen;
  height: 52px;
}
.navbar-brand {
  font-size: xx-large;
}
#ask {
  width: 80px;
  font-size: large;
}
#search_input {
  width: 320px;
}

form {
  max-width: 600px;
}

#back1 {
  position: relative;
}

.navbar a {
  color: slategrey;
}

div.answer-vote-bar {
  float: left;
  margin-left: -52px;
  .fa {font-size: 1.3em;}
  a {
    display: block;
    background-color: #CCE0FD;
    padding: 3px 15px 3px 15px;

    .fa {
      display: block;
    }
  }
  .answer-vote-down {
    margin-top: 3px;
    padding: 3px;
  }
}