a {
  text-decoration: none;
  color: #000;
}
.active {
  color: darkseagreen;
}
.zh-container {
  text-align: center;
}
.zh-main {
  width: 300px;
  margin: auto;
}
.zh-header h1 {
  font-size: 50px;
  color: darkseagreen;
}
.zh-header h2 {
  font-size: 18px;
}
.zh-tab {
  margin-top: 30px;
  .sign {
    color: #730E15;
  }
}

.zh-block {
  height: 3px;
  width: 45px;
  position: relative;
  left: 100px;;
  background-color: darkseagreen;
}
.zh-form-textinput {
  margin-top: 20px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
}
.zh-input-wrapper + .zh-input-wrapper {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: lightgray;
}
.zh-input-wrapper input {
  width: 90%;
  height: 35px;
  margin: 5px;
  border: none;
  outline: none;
}
.zh-button-big {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkseagreen;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
