a {
  text-decoration: none;
  color: #000;
}
.active {
  color: darkseagreen;
}
.zh-container {
  text-align: center;
}
.zh-main {
  width: 300px;
  margin: auto;
}
.zh-header h1 {
  font-size: 50px;
  color: darkseagreen;
}
.zh-header h2 {
  font-size: 18px;
}
.zh-tab {
  margin-top: 30px;
  .sign {
    color: #730E15;
  }
}

.zh-block {
  height: 3px;
  width: 45px;
  position: relative;
  left: 100px;;
  background-color: darkseagreen;
}
.zh-form-textinput {
  margin-top: 20px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: lightgray;
}
.zh-input-wrapper + .zh-input-wrapper {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: lightgray;
}
.zh-input-wrapper input {
  width: 90%;
  height: 35px;
  margin: 5px;
  border: none;
  outline: none;
}
.zh-button-big {
  width: 100%;
  height: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: darkseagreen;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;

  border-bottom: 1px solid $gray-lighter;
  a {
    float: left;
    padding: 10px 20px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.users_list {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.panel {
  margin-right: 80px;
  margin-top: 20px;
  .panel-heading {
    font-weight: bold;
  }
  .panel-body {
    padding: 0px 15px 10px;
    h1 {
      display: inline-block;  
    }
    h5 {
      display: inline-block;
      float: right;
      margin: 30px;  
    }

    .info {
      display: block;
      margin: 8px;
      height: 24px;

      #location {
        display: inline;
      }
      #working {
        display: inline;
      }
      #education {
        display: inline;
      }

      button.btn-xs {
        margin-left: 5px;

        i {
          margin: 1px;
        }
      }

      span {
        border-left: 1px solid #ECE7E7;
        padding-left: 10px;
        margin-left: 6px;

        .zg-link-litblue-normal {
          color: #698ebf;
          font-weight: 400;
          text-decoration: none;
        }
      }

      .fa {
        width: 14px;
      }

      #location_form {
        margin_bottom: -2px;
      }
      #working_form {
        margin_bottom: -2px;
      }
      #education_form {
        margin_bottom: -2px;
      }
      .row {
        display: none;
        margin: 0;
        height: 20px;
        border-left: 1px solid #ECE7E7;
        margin-left: 7px;
        width: 587px;

        i.fa {
          margin: 0;
        }

        .col-lg-3 {
          padding: 0 2px 0 10px;
        }

        .col-lg-2 {
          width: 120px;
        }
      }


    }

    .statement {
      border-top: 1px solid #ECE7E7;
      padding: 12px 0px 12px;
      margin-left: 90px;
      margin-top: 10px;

      .fa {
        width: 14px;
        margin: 0 11px 0 5px;
      }

      span {
        border-left: 1px solid #ECE7E7;
        padding-left: 10px;
        margin-left: 6px;

        .zg-link-litblue-normal {
          color: #698ebf;
          font-weight: 400;
          text-decoration: none;
        }
      }

      #statements_form {

        display: none;

        textarea {
          margin: 20px 0 10px 0;
          padding: 10px;
          width: 500px;
        }

        .statement-submit {
          margin-top: 5px;
          margin-bottom: -10px;
          float: right;
        }
      }

      #statements {
        button.btn-xs {
          margin-left: 5px;

          i {
          margin: 1px;
         }
        }
      }
    }

    .agree-thanks {
      border-top: 1px solid #ECE7E7;
      padding: 10px 0 0 7px;
      span {
        margin: 5px;
        font-size: 15px;
      }

      a {
        float: right;
      }

      #follow_form {
        float: right;
      }
    }

    img {
      float: left;
    }
  }

  .panel-footer {
    padding: 0px;
    .fa-2x {
      padding: 5px;
      border-right: 1px solid #ECE7E7;      
    }
  }
}

